In [172]:
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [173]:
#Q-7Load the Dataset
df = pd.read_csv('Q7.csv')
df.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

# Finding Mean

In [174]:
#To Find the mean of the Column Points
mean_value_points = df['Points'].mean()
print('Mean of the Points:',mean_value_points)

Mean of the Points: 3.5965625000000006

In [175]:
#To Find the mean of the column Score
mean_value_score= df['Score'].mean()
print('Mean of the Score:',mean_value_score)

Mean of the Score: 3.2172499999999995

In [176]:
#To Find the mean of the column Weigh
mean_value_weigh = df['Weigh'].mean()
print('Mean of the weigh:',mean_value_weigh)

Mean of the weigh: 17.848750000000003

# Finding Median

In [177]:
#To Find the Median of the Points
median_value_points = df['Points'].median()
print('Median of the Points:',median_value_points)

Median of the Points: 3.6950000000000003

In [178]:
#To Find the Median of the Score
median_value_score = df['Score'].median()
print('Median of the Score:',median_value_score)

Median of the Score: 3.325

In [179]:
#To Find the Median of the Weigh
median_value_weigh = df['Weigh'].median()
print('Median of the weigh:',median_value_weigh)

Median of the weigh: 17.71

# Finding Mode

In [180]:
#To Find the Mode of the Points
mode_value_points = df['Points'].mode().values
print('Mode of the Points:',mode_value_points)

Mode of the Points: [3.07 3.92]

In [181]:
#To Find the Mode of the Score
mode_value_score = df['Score'].mode().values
print('Mode of the Score:',mode_value_score)

Mode of the Score: [3.44]

In [182]:
#To Find the Mode of the Weigh
mode_value_weigh = df['Weigh'].mode().values
print('Mode of the Weigh:',mode_value_weigh)

Mode of the Weigh: [17.02 18.9 ]

# Finding  Variance

In [183]:
#To Find the Variance of the Points
variance_value_points = df['Points'].var()
print('Variance of the Points:',variance_value_points)

Variance of the Points: 0.28588135080645166

In [184]:
#To Find the Variance of the Score
variance_value_score = df['Score'].var()
print('Variance of the Score:',variance_value_score)

Variance of the Score: 0.9573789677419356

In [185]:
#To Find the Variance of the Weigh
variance_value_weigh = df['Weigh'].var()
print('Variance of the Weigh:',variance_value_weigh)

Variance of the Weigh: 3.193166129032258

# Finding Standard Deviation

In [186]:
#To Find the Standard Deviation of the Points
std_value_points = df['Points'].std()
print('Standard Deviation of the Points:',std_value_points)

Standard Deviation of the Points: 0.5346787360709716

In [187]:
#To Find the Standard Deviation of the Score
std_value_score = df['Score'].std()
print('Standard Deviation of the Score:',std_value_score)

Standard Deviation of the Score: 0.9784574429896967

In [188]:
#To Find the Standard Deviation of the Weigh
std_value_weigh = df['Weigh'].std()
print('Standard Deviation of the Weigh:',std_value_weigh)

Standard Deviation of the Weigh: 1.7869432360968431

# Finding the Range

In [189]:
#To Find the Range of the Column Points
#To Find the Maximum and Minimum Value of the column Points
max_value = df['Points'].max()
min_value = df['Points'].min()

data_range = max_value - min_value
print('Range of the column points:',data_range)

Range of the column points: 2.17

In [190]:
#To Find the Range of the Column Score
#To Find the Maximum and Minimum Value of the column Score
max_value_score = df['Score'].max()
min_value_score = df['Score'].min()

data_range = max_value_score - min_value_score
print('Range of the column Score:',data_range)

Range of the column Score: 3.9110000000000005

In [191]:
#To Find the Range of the Column Weigh
#To find the Maximum and Minimum Value of the column Weigh
max_value_weigh = df['Weigh'].max()
min_value_weigh = df['Weigh'].min()

data_range_value = max_value_weigh - min_value_weigh
print('Range of the Column Weigh:',data_range_value)

Range of the Column Weigh: 8.399999999999999

In [192]:
#Q9 Importing the Required Libraries for finding Skewness and Kurtosis
import pandas as pd
from scipy.stats import skew
#Load the Dataset
df = pd.read_csv('Q9_a.csv')
df.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [193]:
# To Find the Skewness for Speed Column
speed_skewness = skew(df['speed'])
print("Skewness of the Speed Column:",speed_skewness)

Skewness of the Speed Column: -0.11395477012828319

In [194]:
# To Find the Skewness for Dist Column
dist_skewness = skew(df['dist'])
print("Skewness of the dist column:",dist_skewness)

Skewness of the dist column: 0.7824835173114966

In [195]:
#Loading the another dataset for finding the skewness
df = pd.read_csv('Q9_b.csv')
df.head()

   Unnamed: 0          SP         WT
0           1  104.185353  28.762059
1           2  105.461264  30.466833
2           3  105.461264  30.193597
3           4  113.461264  30.632114
4           5  104.461264  29.889149

In [196]:
#To Find the Skewness for SP Column
SP_skewness = skew(df['SP'])
print("Skewness of the SP Column:",SP_skewness)

Skewness of the SP Column: 1.5814536794423764

In [197]:
#To Find the Skewness for WT Column
WT_skewness = skew(df['WT'])
print("Skewness of the WT Column:",WT_skewness)

Skewness of the WT Column: -0.6033099322115126

In [198]:
#Q9 (b) Importing the required libraries for finding Kurtosis
from scipy.stats import kurtosis
import pandas as pd

#Loading the first Dataset
df = pd.read_csv('Q9_a.csv')
df.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [199]:
#To Find the Kurtosis for Speed Column
Speed_kurtosis = kurtosis(df['speed'])
print("Kurtosis of the speed column:",Speed_kurtosis)

Kurtosis of the speed column: -0.5771474239437371

In [200]:
#To Find the Kurtosis for Dist Column
Dist_kurtosis = kurtosis(df['dist'])
print("Kurtosis of the dist column:",Dist_kurtosis)

Kurtosis of the dist column: 0.24801865717051808

In [201]:
#Loading the Another Dataset for finding the Kurtosis
df = pd.read_csv("Q9_b.csv")
df.head()

   Unnamed: 0          SP         WT
0           1  104.185353  28.762059
1           2  105.461264  30.466833
2           3  105.461264  30.193597
3           4  113.461264  30.632114
4           5  104.461264  29.889149

In [202]:
#To Find the Kurtosis for SP Column
SP_kurtosis = kurtosis(df['SP'])
print("Kurtosis of the SP Column:",SP_kurtosis)

Kurtosis of the SP Column: 2.7235214865269244

In [203]:
#To Find the Kurtosis for WT Column
WT_kurtosis = kurtosis(df['WT'])
print("Kurtosis of the WT Column:",WT_kurtosis)

Kurtosis of the WT Column: 0.8194658792266849

In [204]:
#Importing the required libraries for finding out the Confidence Level
from scipy import stats
import numpy as np

In [205]:
# We have been given the required values as follows:
#Sample Mean = 200 pounds
#Sample Standard Deviation = 30 pounds
#Sample Size = 2000

In [206]:
Sample_mean = 200
Sample_Std = 30
Sample_size = 2000

In [207]:
#Calculating the Standard Deviation of the Sample Mean
standard_error = Sample_Std/np.sqrt(Sample_size)
standard_error

0.6708203932499369

In [263]:
#Q-11 Answer Solution
#Confidence Level
confidence_level = 0.94

In [209]:
#Calculating the Margin of Error
margin_of_error = stats.norm.ppf(1-(1-confidence_level)/2)*standard_error

In [210]:
margin_of_error

1.2616747078419899

In [211]:
#Now Calculating the Confidence Interval
confidence_interval = (Sample_mean-margin_of_error, Sample_mean + margin_of_error)

In [212]:
confidence_interval

(198.738325292158, 201.261674707842)

In [213]:
#Confidence Level
confidence_level = 0.98

In [214]:
#Calculating the Margin of Error
margin_of_error = stats.norm.ppf(1-(1-confidence_level)/2)*standard_error

In [215]:
margin_of_error

1.5605615957002315

In [216]:
#Now Calculating the Confidence Interval
confidence_interval = (Sample_mean-margin_of_error,Sample_mean+margin_of_error)
confidence_interval

(198.43943840429978, 201.56056159570022)

In [218]:
#Confidence Level
confidence_level = 0.96

In [219]:
#Calculating the Margin of Error
margin_of_error = stats.norm.ppf(1-(1-confidence_level)/2)*standard_error
margin_of_error

1.3776966518666687

In [220]:
#Now Calculating the Confidence Interval
confidence_interval = (Sample_mean-margin_of_error,Sample_mean+margin_of_error)
confidence_interval

(198.62230334813333, 201.37769665186667)

In [221]:
#Q12 Finding the Mean,Median,Variance and Standard Deviation
import pandas as pd
data = [34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56]
df = pd.DataFrame(data)

In [222]:
#To Find the Mean of the Data
import numpy as np
mean_values = np.mean(data)
print("Mean of the Data:",mean_values)

Mean of the Data: 41.0

In [223]:
#To Find the Median of the Data
import numpy as np
median_values = np.median(data)
print("Median of the Data:",median_values)

Median of the Data: 40.5

In [224]:
#To Find the variance of the Data
import numpy as np
data = [34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56]
variance = np.var(data)
print('Variance of the data:',variance)

Variance of the data: 24.11111111111111

In [225]:
#To Find the Standard Deviation of the Data
import numpy as np
data = [34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56]
standard_deviation = np.std(data)
print('Standard Deviation of the Data:',standard_deviation)

Standard Deviation of the Data: 4.910306620885412

In [226]:
import pandas as pd

# Read the Data

In [227]:
#Q20 Probability to find from Cars Dataset
df = pd.read_csv('cars.csv')
df.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

# Probability of getting MPG Greater than 38

In [228]:
#Q-20 a) Answer Solution
MPG_cars= df['MPG']
MPG_cars

0     53.700681
1     50.013401
2     50.013401
3     45.696322
4     50.504232
        ...
76    36.900000
77    19.197888
78    34.000000
79    19.833733
80    12.101263
Name: MPG, Length: 81, dtype: float64

In [229]:
Prob_MPG_greater_than_38 = np.round(1 - stats.norm.cdf(38, loc=MPG_cars.mean(), scale= MPG_cars.std()),3) 
print('P(MPG>38)=',Prob_MPG_greater_than_38)

P(MPG>38)= 0.348

# Probability of getting MPG Less than 40

In [230]:
#Q-20 b) Answer Solution
MPG_cars = df['MPG']
MPG_cars

0     53.700681
1     50.013401
2     50.013401
3     45.696322
4     50.504232
        ...
76    36.900000
77    19.197888
78    34.000000
79    19.833733
80    12.101263
Name: MPG, Length: 81, dtype: float64

In [231]:
prob_MPG_less_than_40 = np.round(stats.norm.cdf(40, loc = MPG_cars.mean(), scale = MPG_cars.std()),3) 
print('P(MPG<40)=',prob_MPG_less_than_40)

P(MPG<40)= 0.729

# Probability of getting MPG greater than 20

In [261]:
#Q-20 c) Answer Solution
MPG_cars = df['MPG']
MPG_cars

0     53.700681
1     50.013401
2     50.013401
3     45.696322
4     50.504232
        ...
76    36.900000
77    19.197888
78    34.000000
79    19.833733
80    12.101263
Name: MPG, Length: 81, dtype: float64

In [233]:
Prob_MPG_greater_than_20 =  np.round(1-stats.norm.cdf(20, loc = MPG_cars.mean(), scale = MPG_cars.std()),3) 
print('p(MPG>20)=',(Prob_MPG_greater_than_20))

p(MPG>20)= 0.943

# Probability of getting MPG less than 50

In [234]:
MPG_cars = df['MPG']
MPG_cars

0     53.700681
1     50.013401
2     50.013401
3     45.696322
4     50.504232
        ...
76    36.900000
77    19.197888
78    34.000000
79    19.833733
80    12.101263
Name: MPG, Length: 81, dtype: float64

In [235]:
Prob_MPG_less_than_50 =  np.round(stats.norm.cdf(50, loc = MPG_cars.mean(), scale = MPG_cars.std()),3) 
print('P(MPG<50)=',(Prob_MPG_less_than_50))

P(MPG<50)= 0.956

# Probability of getting MPG more than 20 and less than 50

In [236]:
prob_MPG_greaterthan20_and_lessthan50= (Prob_MPG_less_than_50) - (Prob_MPG_greater_than_20)

In [237]:
print('P(20<MPG<50)=',(prob_MPG_greaterthan20_and_lessthan50))

P(20<MPG<50)= 0.013000000000000012

In [238]:
#Q-22 Answer Solution
#To Find out the Confidence Interval for 90%
print('Z score for 90% Confidence Interval =',np.round(stats.norm.ppf(.05),4))

Z score for 90% Confidence Interval = -1.6449

In [239]:
#To Find out the Confidence Interval for 94%
print('Z score for 94% Confidence Interval =',np.round(stats.norm.ppf(.03),4))

Z score for 94% Confidence Interval = -1.8808

In [240]:
#To Find out the Confidence Interval for 60%
print('Z score for 60% Confidence Interval =',np.round(stats.norm.ppf(.2),4))

Z score for 60% Confidence Interval = -0.8416

In [256]:
#Q-23 Answer Solution
#To Find out the confidence interval for 95%
print('T score for 95% Confidence Interval =',np.round(stats.t.ppf(0.025,df=24),4))

T score for 95% Confidence Interval = -2.0639

In [257]:
#To Find out the confidence interval for 96%
print('T score for 96% Confidence Inteval =',np.round(stats.t.ppf(0.03,df=24),4))

T score for 96% Confidence Inteval = -1.974

In [258]:
#To Find out the confidence interval for 99%
print('T score for 99% Confidence Interval =',np.round(stats.t.ppf(0.005,df=24),4))

T score for 99% Confidence Interval = -2.7969

In [259]:
#Q-24 Answer Solution
import math
from scipy import stats

In [260]:
#Given Data
population_mean = 270
sample_mean = 260
population_std = 90
sample_size = 18

In [253]:
#Calculating Standard Error
standard_error = population_std/math.sqrt(sample_size)

In [254]:
#Calculating Z-score
Z = (sample_mean-population_mean)/standard_error

In [255]:
#Calculating Probability using Z-score
probability = stats.norm.cdf(Z)
print('that 18 randomly selected bulbs would have an average life of no more than 260 days',probability)

that 18 randomly selected bulbs would have an average life of no more than 260 days 0.31867594411696853